.main-footer .icon-flickr-icon {
  background-image: url(../img/footer-sprite.png);
  background-position: 0px 0px;
  width: 25px;
  height: 25px;
}
.main-footer .icon-twitter-icon {
  background-image: url(../img/footer-sprite.png);
  background-position: 0px -25px;
  width: 25px;
  height: 25px;
}
.main-footer .icon-youtube-icon {
  background-image: url(../img/footer-sprite.png);
  background-position: 0px -50px;
  width: 25px;
  height: 25px;
}
