<nav class="main-nav">
    <ul class="items">
        {{#each nav.items}}
        <li class="item">
            <a href="{{link}}" class="link" title="{{label}}">{{label}}</a>
        </li>
        {{/each}}
    </ul>
</nav>